#header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: lightgray;
}

.name {
    display: flex;
    font-size: large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-top: 60px;
}

.center {
    display: block;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

.content {
    display: flex;
    flex-direction: row;
}

footer {
    background-color: #373738;
    padding: 10px 500px;
}

footer ul {
    display: inline-block;
    vertical-align: top;
}

.arrowDown {
    display: flex;
    width: auto; 
    height: 20px;
}

.navButtons {
    display: flex;
    flex-direction: row;
}